# Node modules (huge folder, shouldn't be uploaded)
node_modules/

# Environment files
.env

# Google API credentials
credentials.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Mac / system files
.DS_Store
Thumbs.db
